body {
    font-family: Arial;
    background: #f0f4ff;
    text-align: center;
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 40%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background: #0055ff;
    color: white;
    border: none;
    border-radius: 5px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}
